@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/source-sans/sourcesanspro-regular-webfont.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/source-sans/sourcesanspro-bold-webfont.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/source-sans/sourcesanspro-semibold-webfont.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans";
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/source-sans/sourcesanspro-semibolditalic-webfont.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/source-sans/sourcesanspro-italic-webfont.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/source-sans/sourcesanspro-light-webfont.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans";
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/source-sans/sourcesanspro-lightitalic-webfont.woff2");
  font-display: swap;
}
